<!DOCTYPE html>
<html>
<head>
    <title>关于</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
    <script src="../../docs-assets/js/html5shiv.js"></script>
    <script src="../../docs-assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
        #content {
            width: 61.8%;
            max-width: 650px;
            margin: 0 auto;
        }
    </style>
    
</head>
<body>
    <div style="height:48px;"></div>
    <center>
        <img  class="avatar" src="img/icon.png" />
        <h4>在线聊天 ver 1.0.0</h4>
        <p style="color:#cecece;font-size:8px">Lastest Update Date : 2014/9/4</p>
    </center>
    <hr/>
    <div id="content">
        <p style="line-height:1.8em;margin-bottom:36px;text-indent: 2em;">这个只是我尝试接触Node.js的一个小玩意儿，基本不会花太多的心思放在产品上。每个星期五都会对代码进行review以及做适当的重构。如若对该项目有兴趣添加新功能或修改bug，欢迎fork我的项目。</p>
        <center>
            <a href="https://github.com/ONEWateR/chat-hr" target="_blank" title="项目源代码"><img src="img/github.png" /></a>
        </center>
    </div>
    <footer>
        <center>Powered By ONEWateR</center>
    </footer>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>