<!DOCTYPE html>
<html>
<head>
    <title>内网在线聊天</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
    <script src="../../docs-assets/js/html5shiv.js"></script>
    <script src="../../docs-assets/js/respond.min.js"></script>
    <![endif]-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        
    </script>
</head>
<body>
    <!-- 顶部 -->
    <div class="topbar">
        <img id="logo" src="img/icon.png" />
        <ul class="nav topbar-nav ">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img  class="avatar" src="img/<%= avatar %>" />&nbsp;&nbsp;<%= name %>
                <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="setting" target="_blank">设置</a></li>
                    <li><a href="feedback" target="_blank">反馈</a></li>
                    <li><a href="about" target="_blank">关于</a></li>
                    <li class="divider"></li>
                    <li><a href="#">退出</a></li>
                </ul>
            </li>
      </ul>
    </div>
    
    <div class="left-content">
        <ul class="list-type">
            <li class="active" id="1">最近</li>
            <li id="2">好友</li>
            <li id="3">班群</li>
        </ul>
        <ul class="friend-list mylist"></ul>
    </div>

    <div class="chat-area">
        <ul id="chat-content" class="chat-content mylist"></ul>
         <div class="enter">
            <input id="enter-text" class="form-control" type="email" onkeypress="if(event.keyCode==13) {sendMessage()}"></textarea>
            <button class="btn btn-default" onclick="">表情</button>
            <button class="btn btn-default" onclick="sendMessage()" >发送</button>
        </div>

    </div>
           
    <div class="clearfix"></div>
    <footer>
        <center>Powered By <a href="">ONEWateR</a></center>
    </footer>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/chat.js"></script>

    <script type="text/javascript">

    </script>
</body>
</html>